<?xml version="1.0"?>
<launch>
	<!-- Node for the aRMOR server -->
	<node pkg="armor" type="execute" name="armor_service" args="it.emarolab.armor.ARMORMainService" launch-prefix="xterm -e"/>
	
	<!-- Node for the planner server -->
	<node pkg="EXPROBLAB_Assignment1" type="planner.py" name="planner" output="screen" launch-prefix="xterm -e"/>
	
	<!-- Node for the FSM node -->
	<node pkg="EXPROBLAB_Assignment1" type="fsm.py" name="fsm" output="screen" launch-prefix="xterm -e"/>
	
</launch>
